* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: $primary-text-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: $primary-text-font-size;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

@import "btn";
@import "header";